*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #456990;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

#navbar_logo{
    color: #FFCF70;
    display: block;
    justify-self: start;
    margin-left: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border-radius: 0 100% 0 100%;
    background-color: #a1cdf1;
    transition: all 0.3s ease-in-out;
}
#navbar_logo:hover {    
    color: #a1cdf1;
    height: 60px;
    border-radius: 100% 0 100% 0;
    background-color: #FFCF70;
    transition: all 0.3s ease-in-out;
  }

.navbar_menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 1rem;
  }

.nav-link {
    color: #FFCF70;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    transition: all 0.2s ease-out;
  }

.nav-link:hover {
    border-bottom: 4px solid #FFCF70;
    transition: all 0.2s ease-out;
}
.navbar_toggle{
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 100vh;
        z-index: 1;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      left: -100%;
      opacity: 0;
      height: 90vh;
      position: absolute;
      top: 80px;
       transition: all 0.5s ease;
       z-index: -1;
    }
    .navbar_menu.active{
        background: #456990;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
  
    .nav-link {
        display: block;
        text-align: center;
        margin: 1rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: #FFCF70;
        color: #456990;
        padding: 14px 20px;
        border: 1px solid #FFCF70;
        transition: all 0.3s ease-out;
    }
  
    .nav-link:hover {
        background: #fff;
        border-bottom: 1px solid #FFCF70;
        color: #456990;
        transition: 250ms ease-in-out;
    }
  
    #navbar_logo {
      color: #FFCF70;
      display: block;
     justify-self: start;
      margin-left: 0px;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      text-align: center;
      height: 60px;
      border-radius: 0 100% 0 100%;
      background-color: #a1cdf1;
      transition: all 0.3s ease-in-out;
    }
    .fa-bars{
        color: #FFCF70;
    }
    .fa-times{
        color: #FFCF70;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    #mobile_menu{
    display: block;
      position: absolute;
      top: 5px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

}


.hero-container{
    background-color: #f5f5f5;
    padding-top: 30px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    max-width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
}
.link-container{
    padding-top: 20px;
}
.link{
    width:60px;
    height:40px;
    display: inline-block;
    color: #456990;
}

.JGPic{
    width: 300px;
    height: 300px;
    border-radius: 10% 10% 10% 10%;
}

.hero-header{
    color: #456990;
    display: block;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.hero-body{
    width: 50%;
    float: right;
}


@media screen and (max-width: 960px) {
    .hero-header{
        color: #456990;
        display: block;
        justify-self: start;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 20px;
    }

    .hero-container{
        height: 90%;
    }
}

.exp-container{
    background: #f2f2f2;
    height: 150vh;
    width: 100%;
}

.line{
    border-top: 20px solid #a1cdf1;
    width: 100%;
    opacity: 0;
    position: fixed;
    top: .5vh;
    transition: .3s ease-in-out;
}
.line.active{
    border-top: 20px solid #a1cdf1;
    width: 100%;
    position: fixed;
    top: 50%;
    opacity: 1;
    transition: .3s ease-in-out;
}
.exp-title{
    position: sticky;
    top: 50px;
    padding-top: 50px;
    text-align: center;
    z-index: 1;
    right: 50%;
    color: #a1cdf1;
}
.exp-2{
    position: fixed;
    top: 30vh;
    left: -600px;
    text-align: center;
    opacity: 0;
}
.exp-2.active{
    position: fixed;
    top: 30vh;
    left: -600px;
    text-align: center;
    opacity: 1;
}
.exp-1{
    position: fixed;
    top: 60vh;
    left: -600px;
    text-align: center;
    opacity: 0;
}
.exp-1.active{
    position: fixed;
    top: 60vh;
    left: -600px;
    text-align: center;
    opacity: 1;
}
.exp-4{
    position: fixed;
    top: 30vh;
    left: -600px;
    text-align: center;
}
.exp-4.active{
    position: fixed;
    opacity: 0;
    transition: .3s ease-in-out;
}
.exp-3{
    position: fixed;
    top: 60vh;
    left: -600px;
    text-align: center;
}
.exp-3.active{
    position: fixed;
    opacity: 0;
    transition: .3s ease-in-out;
}
.exp-6{
    position: fixed;
    top: 30vh;
    left: -600px;
    text-align: center;
}
.exp-6.active{
    position: fixed;
    opacity: 0;
    transition: .3s ease-in-out;
}
.exp-5 {
    position: fixed;
    top: 60vh;
    left: -600px;
    text-align: center;
}
.exp-5.active{
    position: fixed;
    opacity: 0;
    transition: .3s ease-in-out;
}
.exp-7 {
    position: fixed;
    top: 60vh;
    left: -600px;
    text-align: center;
}
.exp-7.active{
    position: fixed;
    opacity: 0;
    transition: .3s ease-in-out;
}
.fa-chevron-up{
    color:#FFCF70;
    padding-top: 120px;
}
.fa-chevron-down{
    color:#FFCF70;
    position: absolute;
    top: -80px;
    left: 140px;
}

.exp-cont{
    height: 120px;
    width: 330px;
    border: 1px solid #a1cdf1;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    background: #456990;
    position: absolute;
}
.exp-data{
    width: 300px;
    height: 120px;
    text-align: center;
    position: absolute;
    color:#FFCF70;
    font-size: 20px;
    line-height: 80%;
}
.exp-data-n{
    width: 300px;
    height: 120px;
    text-align: center;
    position: absolute;
    color:#FFCF70;
    font-size: 20px;
    line-height: 80%;
}

.exp-data:hover{
    font-size: 0;
}
.exp-data:hover:after{
    content: attr(data-hover);
    font-size: 16px;
    width: 100px;
    line-height: normal;
    text-align: center;
    color: #a1cdf1;

}

.footer_head{
    color: #456990;
    font-size: 1.5rem;
}
.footer_cont{
    height: 7vh;
    width: 100%;
}