.exp_main{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.slider{
    display: flex;
}
.exp_head{
    font-size: x-large;
}

.exp_det{
    padding-left: 10px;
    flex-grow: 4;
}